@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
/* <weight>: Use a value from 400 to 700  */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* <weight>: Use a value from 200 to 800 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.vc-content {  /*Vertically center content*/ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to ensure centering */
  margin-left: 230px;
}

.home-page .content {
  margin-left: 0;
}

.section {
  width: 100%;
  max-width: 650px;
  height: 220px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.section img {
  position: relative;
  height: 100%;
  /*max-height: 300px;*/
  transform: scale(1.5);
  z-index: 1;
}

.section .text {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  padding: 16px;
  z-index: 2;
}

.section .text h2 {
  margin: 0;
}

.header {
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
  padding: 40px 15px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .logo {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
}

.header .nav-container {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header h2 {
  margin-top: 40px;
  margin-left: 25px;
  font-weight: 500;
  cursor: default;
}

.header ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
  font-weight: 300;
}

.header ul li {
  padding: 10px 20px 10px 56px;
  transition: background-color 0.14s ease;
  background-color: white;
  color: black;
  text-decoration: none;
  text-decoration-color: black;
  transform: translateX(-37px);
  border-radius: 0 5px 5px 0;
}

.header ul a {
  text-decoration: none;
}

.header ul li a {
  text-decoration: none;
  color: black;
}

.header ul li:hover a {
  color: white;
}

.header ul li:hover {
  background-color: #3C5377;
  color: white;
}

.content {
  margin-left: 230px;
  overflow: auto;
  padding: 30px 50px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 525px) {
  .header {
    display: none;
  }
  .content {
    margin-left: 0;
  }
  .topbar {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 524px) {
  .mobile-header.closed {
    display: none;
  }
  .mobile-header.open {
    display: none;
  }
}

/*-------MOBILE HEADER------*/
.mobile-header {
  position: fixed;
  width: 100vw;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  z-index: 1000;
}

.mobile-header .hamburger img {
  width: 20px;
  padding-top: 50px;
}

.mobile-header .hamburger img.active {
  display: block;
}

.mobile-header .hamburger img.not-active {
  display: none;
}

.mobile-header.closed .mobile-nav {
  display: none;
}

.mobile-header.open .mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mobile-header.open .mobile-nav h2 {
  margin-top: 40px;
  font-weight: 500;
  cursor: default;
}

.mobile-header.open .mobile-nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
  font-weight: 300;
}

.mobile-header.open .mobile-nav ul li {
  padding: 10px 20px 10px 20px;
  transition: background-color 0.14s ease;
  background-color: white;
  color: black;
  text-decoration: none;
  text-decoration-color: black;
  border-radius: 5px;
}

.mobile-header.open .mobile-nav ul li:hover {
  background-color: #3C5377;
  color: white;
}


.mobile-header.open .mobile-nav ul a {
  text-decoration: none;
}

.mobile-header.open .mobile-nav .mobile-nav-fill {
  height: 800px;
}

/* PAGE ADD */
.page-add {
  width: calc(100% - 7.6vw);
  padding: 20px;
  margin-top: 50px;
  /*background-color: #e6a7e6;*/
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media screen and (min-width: 1350px) {
    .page-add {
      width: calc(60% - 7.6vw);
    }
}

.page-add .pac-right {
  min-width: 25vw;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-thumbnail {
  height: var(--image-collection-height);
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-shadow: 0 0 4px 2px #e6e6e6;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.page-thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.page-add .pac-right h1 {
  margin-top: 0;
  margin-bottom: 7px;
}

.page-add .pac-right p {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 200px;
}

.explore {
  padding: 8px 23px 10px 25px;
  width: max-content;
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  text-wrap: nowrap;
  color: white;
  background-color: black;
  border-radius: 4px;
  transition: padding 0.2s ease;
}

.explore:hover {
  padding: 8px 26px 10px 28px;
}

.explore img {
  max-height: 1rem;
  margin-left: 10px;
  transform: translateY(2px);
}

/*PAGE LOADER*/ 
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-loader-hidden {
  display: none;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  margin: 36px;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #3C5377;
  clip-path: polygon(0 0,101% 0, 0 100%);
  animation: l13 2s infinite;
}
.loader::after {
  --s:-1,-1;
}
@keyframes l13 {
    0%,
    10%  {transform:scale(var(--s,1)) translate(0,0)        rotate(0deg)}
    33%  {transform:scale(var(--s,1)) translate(20px,-20px) rotate(0deg)}
    66%  {transform:scale(var(--s,1)) translate(20px,-20px) rotate(180deg)}
    90%,
    100% {transform:scale(var(--s,1)) translate(0px,0px)    rotate(180deg)}
}

/*TOP BAR*/
.topbar {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 300px;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.119);
  overflow: hidden;
  border-radius: 6px;
}

@media (max-width: 1045px) {
  .topbar {
    height: 450px;
    padding-right: 2em;
  }
}

.topbar img {
  height: 100%;
}

.topbar .biotext {
  max-width: 450px;
  margin-left: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media (max-width: 900px) {
  .topbar {
    padding-right: 0;
    width: 100%;
    aspect-ratio: 3 / 5;
    height: auto;
  }
  .biotext {
    display: none;
  }
}

/*Socials*/
@media (max-width: 1235px) {
  .socials {
    display: none;
    opacity: 0;
    position: absolute;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100%;
  /* background-color: whitesmoke; */
}

.socials h1 {
  margin-left: 1em;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
  padding: 0 2em 2em 2em;
}

.icon-grid img {
  transition: 0.2s ease-in-out;
  border: 0px solid #71A8C7;
  border-radius: 50%;
  object-fit: cover;
}

.icon-grid img:hover {
  cursor: pointer;
  border: 4px solid #71A8C7;
  border-radius: 50%;
}

/*Standard Cards */
.standard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 1em;
  row-gap: 2em;
}

.standard-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.119);
  overflow: hidden;
  max-width: 300px;
  border-radius: 6px;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.1s ease;
}

@media screen and (min-width: 1615px) and (max-width: 1930px) {
  .standard-card:nth-child(4) {
    margin-left: 320px;
  }
}

.standard-card:hover {
  background-color: #3C5377;
  color: white;
}

.standard-card:hover {
  cursor: pointer;
}

.standard-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  object-fit: cover;
}

.standard-card .card-text p {
  padding: 0;
  margin: 0;
}

/*Featured Cards*/
.featured-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 1em;
  row-gap: 2em;
}

.featured-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.119);
  overflow: hidden;
  max-width: 300px;
  border-radius: 6px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.featured-card:hover {
  cursor: pointer;
}

.featured-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  object-fit: cover;
}

.featured-card .card-text p {
  padding: 0;
  margin: 0;
}

.featured-card .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 300px;
  height: 100%;
  transform: translateY(-2em);
  transition: 0.4s ease-in-out;
}

.featured-card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.featured-card .overlay img {
  opacity: 0;
  width: 50px;
  transform: translateY(2em);
  transition: 0.4s ease-in-out;
}

.featured-card:hover .overlay img {
  opacity: 1;
  transform: translateY(0);
}

/* PAGE CARDS */ 
.page-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;   /* Space between cards */
  justify-content: center;
  align-items: center;
  padding: 20px;/* Adjust padding as needed */
  font-family: "Plus Jakarta Sans", sans-serif;
}

.page-card {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
  border-radius: 8px;
  width: 400px; /* You can adjust the card width as needed */
  aspect-ratio: 2 / 1; /* Aspect ratio of 1/2 horizontally, adjust as needed */
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.page-card:hover {
  transform: scale(1.05);
}

.page-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px; /* Space between image and text */
  flex-shrink: 0;
}

.page-card .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-card h3 {
  margin: 0;
  margin-bottom: 10px;
}

.page-card p {
  margin: 0;
}

/*.box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 20vh);
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.box img {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  object-fit: cover;
}

.box .box-text {
  padding: 0 2em 2em 2em;
}

.box .box-text h1 {
  margin: 0;
  padding: 0;
}

.box .box-text p {
  margin: 0;
  padding: 0;
}

.box.b1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.box.b1 img {
  border-radius: 0;
}

.box.b2 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.box.b3 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.box.b4 {
  grid-column-start: 2;
  grid-column-end: 5;
  flex-direction: row;
}
.box.b4 img {
  height: 100%;
  margin-right: 2em;
}

.box.b5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.box.b5 img {
  width: auto;
  height: 70%;
}
.box.b5 .box-text {
  padding-left: 0;
}

.box.b6 {
  grid-row-start: 3;
  grid-row-end: 5;
}*/