.embed {
  width: calc(100% - 50rem);
  margin-left: 25rem;
  margin-top: 2rem;
  border: none;
  aspect-ratio: 16 / 9;
  border-radius: 0.75rem;
  overflow: hidden;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 { 
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.md {
  width: calc(100% - 50rem);
  margin-left: 25rem;
  font-size: 1.25rem;
}
