---
import styles from '@styles/index.module.css';
import MainPageCard from '@components/MainPageCard.astro';
import Tabs from '@components/Tabs.vue';
import Layout from '@layouts/Layout.astro';

const tabs = [
  {
    title: "Skills",
    sections: [
      {
        title: "Visual Design",
        body: "Websites, Infographics, Videos, Slideshows."
      },
      {
        title: "Visual Conception",
        body: "I can easily think up objects or entire environments in 3D."
      },
      {
        title: "Problem Solving",
        body: "Finding creative solutions to everyday problems"
      }
    ]
  },
  {
    title: "Experience",
    sections: [
      {
        title: "2023 & 2024",
        body: "ACE Mentorship"
      },
      {
        title: "Spring 2022",
        body: "OSRO Soccer Referee"
      },
      {
        title: "Summer 2020",
        body: "Started a neighborhood bottle recycling service with a friend."
      }
    ]
  }
];

---

<Layout title="RL Home">
  <div class={styles.about}>
    <img src="/bio.avif" alt="Renner standing in front of a bridge." />
    <div class={styles.aboutText}>
      <h2>About Me</h2>
      <p>
        I am currently a senior in high school near Portland, Oregon. I have always been a builder, visualizing projects in 3D and then making them come to life with blocks or LEGO® products. Along with my own creations, I've always had a fascination with building design and enjoy exploring and photographing the urban Portland landscape. In 2023, I was able to participate in the ACE Mentor Program and take a course in engineering and design. When I am not building new creations or documenting my builds for my YouTube channel, I am exploring Portland on my bike or playing soccer.
      </p>
    </div>
    <Tabs client:load tabs={tabs} />
  </div>
  <div class={styles.cards}> 
    <MainPageCard img={{src: "/animation-thumbnail.avif", alt: "A room with a bright light and a green screen."}} title="Animation" body="One frame at a time, I've made many unique stop motion animations over the years." url="/animation/" />
    <MainPageCard img={{src: "/buildings-thumbnail.png", alt: "A Minecraft world featuring cool buildings, trees, bamboo, and a wheet farm."}} title="Buildings" body="In many mediums, I have constructed creative buildings and structures." url="/buildings/" />
    <MainPageCard img={{src: "/engineering-thumbnail.avif", alt: "A Lego car featuring the colors black, grey, and red."}} title="Mechanical Engineering" body="Checkout dozens of complex and unique projects I've created." url="/engineering/" />
    <MainPageCard img={{src: "/photos-thumbnail.avif", alt: "A grid made up of photos taken by Renner."}} title="Photography" body="I take photos of everything; nature, pets, architecture, etc. See for yourself!" url="/photos/" />
  </div>
</Layout>
